body {
    background-color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
caption{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 50px;
    background-color: #ef5050;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    padding: 1em;
    background: #ff0000;
    border-bottom: 2px solid rgb(0, 0, 0); 
}

p {
    font-weight: bold;
    text-align: center;
    }
table {
    border-collapse: collapse;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    tab-size: 1000px;
    }
    table, th, td {
    border: none;
    padding: 10px;
    border-collapse: collapse;
    overflow: hidden;
    padding: 1em;
    
    }
.center {
    margin: auto;
    text-align: center;
    }

.botones {
    text-align: center;
}

.insertar {
    text-align: center;
    ;
}
.titulo {
    width: 100%;
    background-color: #ff0000;
    border-radius: 10px;
    font-size: 35px;
    text-align: center;
}


header {
    background-color: #000000; /* Fondo rojo */
    color: #fff; /* Texto blanco */
    padding: 10px 0;
    border-radius: 10px; /* Bordes redondos */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}


 
.clasificacion {
    margin-right: 33%;
    text-decoration: none;
    color: white;
}

.equipos {
    position: absolute;
    text-decoration: none;
    color: white;
}

.suscribete {
    margin-left: 33%;
    text-decoration: none;
    color: white;
}

.boton {
    margin-left: 10%;

}

.fotoCuerpo{
    text-align: center;
}

.pie {
    background-color: #000000; /* Fondo rojo */
    color: #fff; /* Texto blanco */
    padding: 10px 0;
    border-radius: 10px; /* Bordes redondos */
}

.recuadro {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el formulario */
form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


.orden{
    border-radius: 10px; 
    border: 3px #000000 solid;
    
    } 

.ferrari{
background-color:#ff0000;
border: 3px #000000 solid;
border-radius: 5%; 

}

.redBull{
    background-color:#133e80;
    border-radius: 10px; 
    border: 3px #000000 solid;


    }

.astonMartin{
    background-color:#29694b;
    border-radius: 10px; 
    border: 3px #000000 solid;

}

.mercedes{
    background-color:#000000;
    color: #ffffff;
    border-radius: 10px; 
    border: 3px #000000 solid;

}

.mclaren{
    background-color:#ff8800;
    border-radius: 10px; 
    border: 3px #000000 solid;

}

.alphaTauri{
    background-color:#03408f;
    color: #ffffff;
    border-radius: 10px; 
    border: 3px #000000 solid;

}

.alpine{
    background-color:#3bb8d8;
    border-radius: 10px; 
    border: 3px #000000 solid;

}

.williams{
    background-color:#1c0fd8;
    color: #000000;
    border-radius: 10px; 
    border: 3px #000000 solid;

}

.haas{
    background-color:#5e0c0c;
    border-radius: 10px; 
    border: 3px #000000 solid;

}

.alfaRomeo{
    background-color:#640a0a;
    color: #ffffff;
    border-radius: 10px; 
    border: 3px #000000 solid;

}


.video{
    align-items: center;
    text-align: center;
}